<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This application is designed to help women choose dresses of differing
  brands with a universal sizing system.
</p>

<h3>Contact</h3>
<ul>
  <li><b>p</b>: +61 2 9012 3456</li>
  <li><b>e</b>: info@pricefit.com.au</li>
</ul>
