<div class="center hero-unit">
  <h1>Welcome to PriceFit</h1>

  </br>
  <h2><%= link_to "Get Started", '#' %></h2>
  </br>
  <h3><%= link_to "Brands List", brands_path %></h3>
  <h3><%= link_to "Skirts",      '#' %></h3>
  <h3><%= link_to "Sign Up",     signup_path %></h3>
</div>
